<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="text-align: center;">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br><br>
    <p>Please select your choice according to your number</p>
    <form action="/get-numbers">
        <select name="choice">
            <option value="marco">marco</option>
            <option value="polo">polo</option>
            <option value="marcopolo">marcopolo</option>
        </select>
        <button type="submit">Submit</button>
    </form>
  </body>
</html>
